@{
    ViewData["Title"] = "About";
}
<h1>Change Management | Cloud Computing Workshop</h1>
<br />

<p>This is a sample project, made to showcase the functionality of Docker and how easy it can be to deploy a web application.</p>
<p>This code was created along the presentation, for the Change Management Course &commat; NHL Stenden.</p>
<p>Technologies used:</p>
<ul>
    <li>
        <p>ASP.NET v6.0.5</p>
    </li>
    <li>
        <p>Docker</p>
    </li>
    <li>
        <a href="https://render.com/" target=" _blank" rel="noopener noreferrer">render.com</a>
    </li>
</ul>
<p>Thank you for attending! &hearts;</p>
