@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, World!</h1>
    <p>Nice of you to visit today, @ViewData["Timestamp"]</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    @*<p>PS: Patience is a virtue</p>*@
    <div class="showhim">
        
        <div class="showme">42</div>
        <div class="ok">The secret is...</div>
    </div>
    
</div>
